<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="triangle" class="pl.tr0k.javabrains.Triangle" name="triangle-name-alias">
        <property name="pointA">
            <ref bean="zeroPoint"/>
        </property>

        <property name="pointB" >
            <bean class="pl.tr0k.javabrains.Point">
                <property name="x" value="-20"/>
                <property name="y" value="0"/>
            </bean>
        </property>

        <property name="pointC">
            <bean class="pl.tr0k.javabrains.Point">
                <property name="x" value="0"/>
                <property name="y" value="20"/>
            </bean>
        </property>
    </bean>

    <bean id="zeroPoint" class="pl.tr0k.javabrains.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <alias name="triangle" alias="triangle-alias"/>

</beans>