<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="triangle" class="pl.tr0k.javabrains.Triangle">
        <property name="pointA" ref="zeroPoint"/>
        <property name="pointB" ref="minusPoint"/>
        <property name="pointC" ref="plusPoint"/>
    </bean>

    <bean id="zeroPoint" class="pl.tr0k.javabrains.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="minusPoint" class="pl.tr0k.javabrains.Point">
        <property name="x" value="-20"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="plusPoint" class="pl.tr0k.javabrains.Point">
        <property name="x" value="0"/>
        <property name="y" value="20"/>
    </bean>

</beans>